.preview {max-width: 100%; max-height: 200px;}
.preview-block {height: 320px; text-align: center;}
.photo {max-width: 100%;}
.no_avatar {height: 300px; width: 100%; display: block; background: #eee; text-align: center; padding-top: 140px;}
.avatar {max-width: 100%; max-height: 400px;}
.comment img {max-width: 100%;}
textarea {min-height: 200px;}
.panel img {max-width: 100%;}
.photoStatus {color: #999}
.photobackground {background: #ccc; color: white; padding: 20px;}
.photobackground img {border: #eee solid 1px;}
.footer-inverse {background: #262626; color: white; padding: 20px;}